.venv/
venv/
env/

__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
.env
.env.*

input/**
!input/
!input/.gitkeep

output/**
!output/
!output/.gitkeep
!output/processed/
!output/processed/.gitkeep
!output/failed/
!output/failed/.gitkeep

templates/~$*.xlsx
